/* .container {
  width: 518px;
  height: 55px;
  gap: 0px;
} */

input {
  width: 518px;
  height: 55px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  color: #000000;
  border-top: none;
  border-right: none;
  border-left: none;
}

.label {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;

  &.active {
    &:hover {
      color: #05ac6a;
      cursor: pointer;
    }
  }
}

::placeholder {
  color: black;
}
